.card {
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
  height: 375px;
}

.card__image {
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.card__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-color: #393839;
}

.card:hover .card__overlay {
  opacity: 0.8;
}

.overlay__text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-detalis {
  height: 370px;
  border-radius: 20px;
  background-color: #000;
}
.card-story {
  min-height: 300px;
  border-radius: 20px;
  background-color: #000;
}
.img-movie {
  height: 360px;
  padding: 10px;
  border-radius: 20px;
}

.card-text-details {
  color: #555555;
  font-size: 28px;
  font-weight: bold;
}

.card-text-story {
  color: #555555;
  font-size: 18px;
}
.card-text-title {
  color: #555555;
  font-size: 36px;
  font-weight: bold;
}
