.search-results {
  position: absolute;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 10px;
  z-index: 1000;
  top: 50px;
  right: 50px;
  background-color: #ccc;
}
.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.search-results li a {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: var(--yellow-alt-color);
}
.search-results li a:hover {
  color: blue;
}
.search-results li a img {
  width: 120px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 3px;
}
.search-results li a h4 {
  font-size: 20px;
}
